<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.devbridge.relaycontroller.infrastructure.persistence.mapper.TunnelRuntimeStatusMapper">
    <select id="selectByTunnelId"
            resultType="com.huawei.devbridge.relaycontroller.domain.model.TunnelRuntimeStatus">
        SELECT host_connection_count,
               client_connection_count,
               upload_bytes_per_second,
               download_bytes_per_second,
               total_upload_bytes,
               total_download_bytes,
               reported_at
        FROM tunnel_runtime_status
        WHERE tunnel_id = #{tunnelId}
        LIMIT 1
    </select>

    <delete id="deleteByTunnelId">
        DELETE FROM tunnel_runtime_status
        WHERE tunnel_id = #{tunnelId}
    </delete>
</mapper>
